site_name: ELIXIR-GOBLET Train-the-Trainer Programme
nav:
  - Home: index.md
  - Module 1 - Principles of learning: 
    - home: module_1/index.md
  - Module 2 - Enhancing participation and engagement: 
    - home: module_2/index.md
  - Module 3 - Design of engaging training: 
    - home: module_3/index.md
  - Module 4 - Assessment and Feedback: 
    - home: module_4/index.md
  - About: follow_up_training.md

theme:
  name: material
  logo: assets/images/white-orange-logo.png
  favicon: assets/images/elixir_favicon.ico
  custom_dir: overrides
  features:
    - navigation.top
    - navigation.footer
    - toc.integrate
    - navigation.tabs
  font: 
    text: Lato

# Repository
repo_name: elixir-europe-training/ELIXIR-TrP-GOBLET-Train-the-Trainer
repo_url: https://github.com/elixir-europe-training/ELIXIR-TrP-GOBLET-Train-the-Trainer
edit_uri: edit/main/docs/

plugins:
  - tags:
      tags_file: keywords.md
  - search
  - bibtex:
      bib_file: "references.bib"
  - mkdocs-video # embed videos to the docs

  
# Footer
copyright: By the ELIXIR Training Platform

markdown_extensions:
  - abbr
  - def_list
  - footnotes
  - tables
  - admonition
  - codehilite:
      guess_lang: false
  - sane_lists
  - smarty
  - toc:
      toc_depth: 3
  - pymdownx.superfences
  - attr_list
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - neoteroi.cards
  - addbioschemas

extra_css:
  - stylesheets/extra.css
  - stylesheets/neoteroi-mkdocs.css
